body {
  background-color: powderblue;
}

h1 {
  background-color: rgb(173, 230, 174);
  color: black;
  padding: 48px;
  text-align: center;
}

/* Style all elements with the class name "city" */
.city {
  background-color: tomato;
  color: white;
  padding: 10px;
}

p {
  background-color: #f0f;
}